<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?>
<?php echo $this->getContent() ?>
<style>
      #map-canvas {
        width: 100%;
        height: 400px;
      }
    </style>
<?php

if($moduletype == 'beneplacevoid'){
?>

<div class="introffer">
		<h2>TRIAL MEMBERSHIP</h2>
		<ul class="offer_menu" id="non-printable">
			<li class="omenu02 sel1"><a href="" ng-click="backtofirststep()">find location</a></li>
			<li class="omenu01 sel2">choose program</li> 
			<li class="omenu03 sel3">schedule session &amp; class</li>
			<li class="omenu04 on sel4">confirm your appointment</li>
		</ul>

		<div class="monthwrap">
			<div  id="non-printable">
						<p class="graytxt minwidth">Congratulations! You have made and appointment to try Dahn Yoga. Get Ready for less stress and more energy!<br>We will contact you soon to confirm your appointment.<br>Please be sure to arrive 15 minutes before class to meet with an instructor.<br> Dahn yoga recommends loose fitting clothing.</p>
						<br>
						<p class="graytxt minwidth">Please print this page for your records.<br>If you have any questions,please contact us at:<br>Phone: <span class="blacktext"><?php echo $centerphone; ?></span> or Email: <a href="mailto:<?php echo $centeremail; ?>"><?php echo $centeremail; ?></a><br>Your confirmation number is 111214502541<br>Starter Package: <span class="blacktext"><?php echo $sessionclass; ?> Membership</span></p>
						<br>
						<p class="graytxt minwidth">We look forward seeing you!</p>
						<br>
						<br>
						<div class="printwrap">
							<button type="submit" onclick="myFunction()" name="btnSubmit" value="Submit" id="btnSubmit" class="bene_print"><p class="beneprinticospan">print</p></button>

						</div> <!-- end btn wrap -->
					</div>
					<div class="printdetails" id="printable">

						<div class="dahnyogalogo"><img src="/img/bnblogo.gif"></div>

						<p class="bigred">Your Appointment</p>

						<p class="graytxt">Starter Package: <span class="blacktext"><?php echo $sessionclass; ?> Membership</span></p>

						<p class="graytxt">Name: <span class="blacktext"><?php echo $name; ?></span></p>

						<p class="graytxt">When: <span class="blacktext"><?php echo date("D, F d Y", strtotime($day)); ?>, <?php echo $hour; ?> </span><em>(Your appointment is subject to availability.)</em></p>

						<p class="graytxt">Where: <span class="bluetext"><?php echo $centertitle; ?></span><br>
													<em><?php echo $centeraddress; ?>, <?php echo $centerzip; ?></em><br>
													<em>Phone: <?php echo $centerphone; ?></em>
						</p>

						<p class="graytxt">Confirmation Number: <span class="blacktext"><?php echo $confirmationnumber; ?></span></p>
						
						<p class="graytxt">Payment: <span class="blacktext">Paid $<?php echo $totalprice; ?> Paypal</span></p>

						<div id="map-canvas"></div>

					</div>
			</div>
		</div>
	</div>


<?php
}
else{
?>

<div class="getstarted">
		<span class="title"  id="non-printable">Starter Packages</span>
	
		<ul class="state" id="non-printable">
			<li><p class="program">Choose Program</p></li>
			<li class="arrow"><img src="/img/frontend/ico_state_arrow.gif" alt=""></li>
			<li><p class="location">Find Location</p></li>
			<li class="arrow"><img src="/img/frontend/ico_state_arrow.gif" alt=""></li>
			<li><p class="schedule">Schedule Session &amp; Class</p></li>
			<li class="arrow"><img src="/img/frontend/ico_state_arrow.gif" alt=""></li>
			<li class="last on"><p class="confirm">Confirm Your Appointment</p></li>
		</ul>

		<!-- choose program -->
		<div class="box_wrap">
			<div class="inner_wrap">
				<span class="sub_title" id="non-printable">
					<p class="graytxt">Dear <span class="ready_txt"><?php echo $name; ?></span>,</p>
				</span>
				<div class="program_wrap">
					<div  id="non-printable">
						<p class="graytxt minwidth">Thank you for your purchase with Body & Brain Yoga! You made an appointment at the <?php echo $centertitle; ?> center on <?php echo date("d M", strtotime($day)); ?> at <?php echo $hour; ?>. One of our friendly center staff will contact you shortly to confirm your appointment. At the time of your session, we recommend loosely-fitted clothing and socks. No yoga mats are necessary.</p>
						<br>
						<p class="graytxt minwidth">If you have any questions, you can reach us at:<br>Phone: <span class="blacktext"><?php echo $centerphone; ?></span> or Email: <a href="mailto:<?php echo $centeremail; ?>"><?php echo $centeremail; ?></a><br>Confirmation Number is <span class="blacktext"><?php echo $confirmationnumber; ?></span><br>Starter Package: <span class="blacktext"><?php echo $sessionclass; ?> Membership</span></p>
						<br>
						<br>
						<div class="printwrap">
						<button type="submit" onclick="myFunction()" name="btnSubmit" value="Submit" id="btnSubmit" class="btn_print"><p class="printicospan">print</p></button>
						
						</div> <!-- end btn wrap -->
					</div>
					<div class="printdetails" id="printable">

						<div class="dahnyogalogo"><img src="/img/bnblogo.gif"></div>

						<p class="bigred">Your Appointment</p>

						<p class="graytxt">Starter Package: <span class="blacktext"><?php echo $sessionclass; ?></span></p>

						<p class="graytxt">Name: <span class="blacktext"><?php echo $name; ?></span></p>

						<p class="graytxt">When: <span class="blacktext"><?php echo date("D, F d Y", strtotime($day)); ?>, <?php echo $hour; ?> </span><em>(Your appointment is subject to availability.)</em></p>

						<p class="graytxt">Where: <span class="bluetext"><?php echo $centertitle; ?></span><br>
													<em><?php echo $centeraddress; ?>, <?php echo $centerzip; ?></em><br>
													<em>Phone: <?php echo $centerphone; ?></em>
						</p>

						<p class="graytxt">Confirmation Number: <span class="blacktext"><?php echo $confirmationnumber; ?></span></p>
						
						<p class="graytxt">Payment: <span class="blacktext">Paid $<?php echo $totalprice; ?> Paypal</span></p>

						<div id="map-canvas"></div>

					</div>

				</div>
			</div>
			<!-- end of first step -->
		</div>

	</div>
<?php
}   
?> 

<script type="text/javascript">
</script>
 <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
      function initialize() {
      	var myLatlng = new google.maps.LatLng(<?php echo $lat; ?>,<?php echo $lon; ?>);
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: myLatlng,
          zoom: 14,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
        var marker = new google.maps.Marker({
        	position: myLatlng,
        	map: map,
        	title: 'Hello World!'
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>






