<?php
$page = "";
$pagewhatis = "/what-is";
$pageclasses = "/classes";
$pageworkshops = "/workshops";
$pagewellnessatwork = "/wellness-at-work";
$pagecommunityaction = "/responsibility";
?>
<!DOCTYPE html>
<html data-ng-app="app">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="user-scalable = yes" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <meta name="google-site-verification" content="ySjOTmAKz2w5YqcRUH1rsc8sdQjQn6PGvKAih-8FRus" >
  <meta name="p:domain_verify" content="22c00952f256c761fcb76cb4e891f1d6"/>
  <link rel="shortcut icon" href="/img/frontend/favicon.gif" type='image/x-icon'/>
  <link type="text/css" rel="stylesheet" href="/fe/css/materialize.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/fe/css/style.css" media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/fe/css/flexslider.css"  media="screen,projection"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

   <meta name="description" content="Body & Brain offers dynamic classes in Korean style power yoga, tai chi and meditation. Beginners are welcome.">
  <meta name="keywords" content="Body And Brain">
  <meta name="title" content="Body And Brain">
  <title>Body & Brain: Yoga classes combining Tai chi, Meditation</title>
</head>

<body>
<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?>
<div class="mobilemenu">
      <nav>
        <div class="nav-wrapper maincolor">
          <a href="#!" class="brand-logo"></a>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          <ul id="nav-mobile" class="side-nav">
            <div class="sidelogo" style="text-align: center;margin-top: 32px;margin-bottom: 16px;border-bottom: 1px solid #ddd;padding:20px;">
              <a href="/"><img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $logoimage->logo; ?>" style="width:100%; height:auto;"></a>
            </div>
            <ul class="collapsible collapsible-accordion">
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">About</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="<?php echo $pagewhatis;?>" class="submenu">About Body & Brain</a></li>
                    <li><a href="<?php echo $pagewhatis;?>/how-different" class="submenu">How Are We Different?</a></li>
                    <li><a href="<?php echo $pagewhatis;?>/energy-principles" class="submenu">Core Energy Principles</a></li>
                    <li><a href="<?php echo $pagewhatis;?>/ilchi-lee" class="submenu">Founder Ilchi Lee</a></li>
                    <li><a href="<?php echo $pagewhatis;?>/ceo-message" class="submenu">Message from the CEO</a></li>
                    <li><a href="<?php echo $pagewhatis;?>/yoga-class-guarantee" class="submenu">30 Day Guarantee</a></li>
                    <li><a href="<?php echo $pagewhatis;?>/research" class="submenu">Research</a></li>
                    <li><a href="<?php echo $pagewhatis;?>/faq" class="submenu">FAQ</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Classes</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="<?php echo $pageclasses;?>" class="submenu">Overview</a></li>
                    <li><a href="<?php echo $pageclasses;?>/video-classes" class="submenu">Video Classes</a></li>
                    <li><a href="<?php echo $pageclasses;?>/energy-martial-arts" class="submenu">Tai Chi & Qigong</a></li>
                    <li><a href="<?php echo $pageclasses;?>/energy-meditation" class="submenu">Energy Meditation</a></li>
                    <li><a href="<?php echo $pageclasses;?>/core-strengthening-revitalizing" class="submenu">Core Strengthening</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Workshops</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="/workshops" class="submenu">Overview</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/initial-awakening" class="submenu">Initial Awakening&#8482;</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/finding-true-self" class="submenu">Finding True Self</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/sedona-retreat" class="submenu">Sedona Retreat for Change</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/solar-body-natural-healing-course" class="submenu">Solar Body Natural Healing Course</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/dahnmudo" class="submenu">DahnMuDo&#8482;</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/brain-management-training" class="submenu">Brain Management Training</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/dahn-master-course" class="submenu">Dahn Master Course</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/meditation-tours" class="submenu">Meditation Tours</a></li>
                    <li><a href="/workshops/workshopschedules/all" class="submenu">Schedules</a></li>
                    <li><a href="<?php echo $pageworkshops;?>/healthier-together" class="submenu">Healthier Together</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header  waves-effect waves-teal">Wellness at Work</a>
                <div class="collapsible-body">
                  <ul>
                     <li><a href="<?php echo $pagewellnessatwork;?>" class="submenu">Overview</a></li>
                     <li><a href="<?php echo $pagewellnessatwork;?>/our-programs" class="submenu">Our Programs</a></li>
                     <li><a href="<?php echo $pagewellnessatwork;?>/getting-started" class="submenu">Getting Started</a></li>
                     <li><a href="<?php echo $pagewellnessatwork;?>/success-stories" class="submenu">Success Stories</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a class="collapsible-header waves-effect waves-teal">Responsibility</a>
                <div class="collapsible-body">
                  <ul>
                    <li><a href="<?php echo $pagecommunityaction;?>" class="submenu">Overview</a></li>
                    <li><a href="<?php echo $pagecommunityaction;?>/community-classes" class="submenu">Community Classes</a></li>
                    <li><a href="<?php echo $pagecommunityaction;?>/project-orange" class="submenu">Project Orange</a></li>
                    <li><a href="<?php echo $pagecommunityaction;?>/book-donations" class="submenu">Book Donations</a></li>
                    <li><a href="<?php echo $pagecommunityaction;?>/nevada-1st-project" class="submenu">Nevada 1st Project</a></li>
                    <li><a href="<?php echo $pagecommunityaction;?>/nicaragua-project" class="submenu">Nicaragua Project</a></li>
                  </ul>
                </div>
              </li>
              <li class="bold"><a href="/press" class="collapsible-header">Press</a></li>
              <li class="active find-class bold"><a class="collapsible-header waves-effect waves-teal active" href="/locations">Locations</a></li>
          </li>
        </ul>
      </div>
    </nav>
  </div>


  <div class="container home-container">
    <div class="row" style="margin:0 0 7px 0 !important;">
      <div class="col s12 no-margin">
        <div class="headerlogo">
          <a href="/"><img src="<?php echo $this->config->application->amazonlink; ?>/uploads/banner/<?php echo $logoimage->logo; ?>" style="height:auto;"></a>
        </div>
        <div class="headercontact">
          <ul>
            <li class="tel">1-877-477-YOGA</li>
            <li class="contactlist"><a href="/contact-us">Contact Us</a></li>
            <li class="contactlist"><a href="/success-stories/1">Success Stories</a></li>
            <li class="contactlist"><a href="<?php echo $articles; ?>">B&B Buzz</a></li>
            <li class="contactlist"><a href="<?php echo $page; ?>/franchise">Franchising</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="navigationcustom maincolor">
      <ul>
        <li>
          <a href="<?php echo $pagewhatis;?>" class="menu about">ABOUT</a>
          <ul>
            <li><a href="<?php echo $pagewhatis;?>" class="submenu">About Body & Brain</a></li>
            <li><a href="<?php echo $pagewhatis;?>/how-different" class="submenu">How Are We Different?</a></li>
            <li><a href="<?php echo $pagewhatis;?>/energy-principles" class="submenu">Core Energy Principles</a></li>
            <li><a href="<?php echo $pagewhatis;?>/ilchi-lee" class="submenu">Founder Ilchi Lee</a></li>
            <li><a href="<?php echo $pagewhatis;?>/ceo-message" class="submenu">Message from the CEO</a></li>
            <li><a href="<?php echo $pagewhatis;?>/yoga-class-guarantee" class="submenu">30 Day Guarantee</a></li>
            <li><a href="<?php echo $pagewhatis;?>/research" class="submenu">Research</a></li>
            <li><a href="<?php echo $pagewhatis;?>/faq" class="submenu">FAQ</a></li>
          </ul>
        </li>
        <li>
          <a href="<?php echo $pageclasses;?>" class="menu">CLASSES</a>
          <ul>
            <li><a href="<?php echo $pageclasses;?>" class="submenu">Overview</a></li>
            <li><a href="<?php echo $pageclasses;?>/video-classes" class="submenu">Video Classes</a></li>
            <li><a href="<?php echo $pageclasses;?>/energy-martial-arts" class="submenu">Tai Chi & Qigong</a></li>
            <li><a href="<?php echo $pageclasses;?>/energy-meditation" class="submenu">Energy Meditation</a></li>
            <li><a href="<?php echo $pageclasses;?>/core-strengthening-revitalizing" class="submenu">Core Strengthening</a></li>
          </ul>
        </li>
        <li>
          <a href="/workshops" class="menu">WORKSHOPS</a>
          <ul>
            <li><a href="/workshops" class="submenu">Overview</a></li>
            <li><a href="<?php echo $pageworkshops;?>/initial-awakening" class="submenu">Initial Awakening&#8482;</a></li>
            <li><a href="<?php echo $pageworkshops;?>/finding-true-self" class="submenu">Finding True Self</a></li>
            <li><a href="<?php echo $pageworkshops;?>/sedona-retreat" class="submenu">Sedona Retreat for Change</a></li>
            <li><a href="<?php echo $pageworkshops;?>/solar-body-natural-healing-course" class="submenu">Solar Body Natural Healing Course</a></li>
            <li><a href="<?php echo $pageworkshops;?>/dahnmudo" class="submenu">DahnMuDo&#8482;</a></li>
            <li><a href="<?php echo $pageworkshops;?>/brain-management-training" class="submenu">Brain Management Training</a></li>
            <li><a href="<?php echo $pageworkshops;?>/dahn-master-course" class="submenu">Dahn Master Course</a></li>
            <li><a href="<?php echo $pageworkshops;?>/meditation-tours" class="submenu">Meditation Tours</a></li>
            <li><a href="/workshops/workshopschedules/all" class="submenu">Schedules</a></li>
            <li><a href="<?php echo $pageworkshops;?>/healthier-together" class="submenu">Healthier Together</a></li>
          </ul>
        </li>
        <li>
          <a href="<?php echo $pagewellnessatwork;?>" class="menu">WELLNESS AT WORK</a>
          <ul>
            <li><a href="<?php echo $pagewellnessatwork;?>" class="submenu">Overview</a></li>
            <li><a href="<?php echo $pagewellnessatwork;?>/our-programs" class="submenu">Our Programs</a></li>
            <li><a href="<?php echo $pagewellnessatwork;?>/getting-started" class="submenu">Getting Started</a></li>
            <li><a href="<?php echo $pagewellnessatwork;?>/success-stories" class="submenu">Success Stories</a></li>
          </ul>
        </li>
        <li>
          <a href="<?php echo $pagecommunityaction;?>" class="menu">RESPONSIBILITY</a>
          <ul>
            <li><a href="<?php echo $pagecommunityaction;?>" class="submenu">Overview</a></li>
            <li><a href="<?php echo $pagecommunityaction;?>/community-classes" class="submenu">Community Classes</a></li>
            <li><a href="<?php echo $pagecommunityaction;?>/project-orange" class="submenu">Project Orange</a></li>
            <li><a href="<?php echo $pagecommunityaction;?>/book-donations" class="submenu">Book Donations</a></li>
            <li><a href="<?php echo $pagecommunityaction;?>/nevada-1st-project" class="submenu">Nevada 1st Project</a></li>
            <li><a href="<?php echo $pagecommunityaction;?>/nicaragua-project" class="submenu">Nicaragua Project</a></li>
          </ul>
        </li>
        <li><a href="<?php echo $page;?>/press" class="menu">PRESS</a></li>
        <li class="active find-class"><a href="/locations">LOCATIONS</a></li>
      </ul>
    </div>

</div>

<div class="mobileslider">
  <div class="divseparetor-s"></div>
  <div class="slider">
    <ul class="slides">
      <li>
          <img src="/img/frontend/slider/january.jpg">
      </li>
      <li>
        <img src="/img/frontend/slider/img_slide_05.jpg">
        <div class="caption center-align">
          <h3>Body & Brain: Find Your Balance!</h3>
          <h5 class="light grey-text text-lighten-3 shadowed"></h5>
        </div>
      </li>
      <li>
        <img src="/img/frontend/slider/img_slide_06.jpg">
        <div class="caption left-align">
          <h3>Unique Style of Yoga</h3>
          <!-- <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
        </div>
      </li>
      <li>
        <img src="/img/frontend/slider/img_slide_07.jpg">
        <div class="caption right-align">
          <h3>Dynamic Workshop</h3>
          <!-- <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
        </div>
      </li>
      <li>
        <img src="/img/frontend/slider/img_slide_09.jpg">
      </li>
    </ul>
  </div endofslider>
</div>


<div class="container fullwithslider  home-container">
  <div class="divseparetor-s"></div>
  <div class="slider">
    <ul class="slides">
      <li>
          <img src="/img/frontend/slider/january.jpg">
      </li>
      <li>
        <img src="/img/frontend/slider/img_slide_05.jpg">
        <div class="caption center-align">
          <h3>Body & Brain: Find Your Balance!</h3>
          <h5 class="light grey-text text-lighten-3 shadowed"></h5>
        </div>
      </li>
      <li>
        <img src="/img/frontend/slider/img_slide_06.jpg">
        <div class="caption left-align">
          <h3>Unique Style of Yoga</h3>
          <!-- <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
        </div>
      </li>
      <li>
        <img src="/img/frontend/slider/img_slide_07.jpg">
        <div class="caption right-align">
          <h3>Dynamic Workshop</h3>
          <!-- <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
        </div>
      </li>
      <li>
        <img src="/img/frontend/slider/img_slide_09.jpg">
      </li>
    </ul>
  </div endofslider>

</div>

  <div class="divseparetor"></div>

  <div class="container  home-container">

  <div class="row-custom">
    <div class="col-custom-3 col-custom-first vert-space-first">
      <a href="/getstarted/starterspackage">
        <img src="/img/frontend/banner1.gif" class="img-banner">
      </a>
    </div>
    <div class="col-custom-3 vert-space">
      <a href="/wellness-at-work">
        <img src="/img/frontend/banner2.png" class="img-banner" onmouseover="this.src='/img/frontend/banner2on.png'" onmouseout="this.src='/img/frontend/banner2.png'">
      </a>
    </div>
    <div class="col-custom-3 vert-space">
      <a href="/bnb-buzz">
        <img src="/img/frontend/banner3.png" class="img-banner" onmouseover="this.src='/img/frontend/banner3on.png'" onmouseout="this.src='/img/frontend/banner3.png'">
      </a>
    </div>
    <div class="col-custom-3 col-custom-last vert-space">
      <a href="/responsibility">
        <img src="/img/frontend/banner4.png" class="img-banner"  onmouseover="this.src='/img/frontend/banner4on.png'" onmouseout="this.src='/img/frontend/banner4.png'">
      </a>
    </div>
  </div>

  <div class="row">
    <div class="mapwrapper">
      <div class="map" >
        <h4>Check Out Our Locations</h4>
        <div style="text-align:center;" class="imageMap">
          <img id="myImage" src="/img/frontend/map.png"  alt="Planets" usemap="#planetmap">
          <div class="hotspots">
            <div title=""><a href="/locations/WA/none" class="p1" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>WA</p></a></div>
            <div title=""><a href="/locations/OR/none" class="p2" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>OR</p></a></div>
            <div title=""><a href="/locations/NV/none" class="p3" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>NV</p></a></div>
            <div title=""><a href="/locations/CA/none" class="p4" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>CA</p></a></div>
            <div title=""><a href="/locations/AZ/none" class="p5" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>AZ</p></a></div>
            <div title=""><a href="/locations/CO/none" class="p6" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>CO</p></a></div>
            <div title=""><a href="/locations/NM/none" class="p7" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>NM</p></a></div>
            <div title=""><a href="/locations/HI/none" class="p8" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>HI</p></a></div>
            <div title=""><a href="/locations/TX/none" class="p9" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>TX</p></a></div>
            <div title=""><a href="/locations/MN/none" class="p10" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>MN</p></a></div>
            <div title=""><a href="/locations/WI/none" class="p11" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>WI</p></a></div>
            <div title=""><a href="/locations/IL/none" class="p12" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>IL</p></a></div>
            <div title=""><a href="/locations/GA/none" class="p13" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>GA</p></a></div>
            <div title=""><a href="/locations/NY/none" class="p14" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>NY</p></a></div>
            <div title=""><a href="/locations/VA/none" class="p15" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>VA</p></a></div>
            <div title=""><a href="/locations/NC/none" class="p16" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>NC</p></a></div>
            <div title=""><a href="/locations/FL/none" class="p17" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>FL</p></a></div>
            <div title=""><a href="/locations/MA/none" class="p18" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>MA</p></a></div>
            <div title=""><a href="/locations/NJ/none" class="p19" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>NJ</p></a></div>
            <div title=""><a href="/locations/MD/none" class="p20" rel="nofollow" aria-haspopup="false"><img src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>MD</p></a></div>
            <div title=""><a href="/locations/DC/none" class="p21" rel="nofollow" aria-haspopup="false"><img id="DC" src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>DC</p></a></div>
            <div title=""><a href="/locations/UT/none" class="p22" rel="nofollow" aria-haspopup="false"><img id="UT" src="/img/frontend/pin.png" style="width:100%;height:auto;" onmouseover="this.src='/img/frontend/pin2.png'" onmouseout="this.src='/img/frontend/pin.png'"><p>UT</p></a></div>
          </div>
        </div>
        <center>
          <span class="ortext">Or</span>
          <div class="find_wrap">
              <!-- <form onsubmit="handle"> -->
                <input name="txtZipCode" type="text" id="txtZipCode" placeholder="Enter Zip code" class="input_find placeholder" ng-model="zipcode" onkeypress="handle(event)">
              <!-- </form> -->
                <a href="/locations/none/{[{zipcode}]}" ng-click="go('')" title="Find a Center" class="btn_find"></a>
                <script>

                  function handle(e){
                    var fzip = document.getElementById('txtZipCode').value;
                    if(e.keyCode === 13){
                      window.location = "/locations/none/"+fzip+"";
                    }

                    return false;
                  }
                </script>
          </div>
        </center>

      </div>
    </div>
    <div class="enewswrapper">
      <div class="enewsletter">
        <fieldset class="fieldsets">
          <div class="newsletter">
            <div class="etitle">
              <div class="titletext">e-Newsletter</div>
            </div>

                <div class="email_wrap">
                  <form action="//bodynbrain.us3.list-manage.com/subscribe/post?u=cfc22757143336e0cfcf90eef&amp;id=eef0458b00" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <input type="email" value="" name="EMAIL" class="required email input_email placeholder" id="mce-EMAIL" placeholder="Enter your email address">
                    <input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe" class="btn_email">
                  </form>
                </div>
          </div> <!-- end of newsletter -->

            <div class="socials">
              <div class="socialcontent">
                <a target="_blank" href="https://www.facebook.com/BodynBrainYoga"><img src="/img/frontend/icofacebook.gif" class="social-icons"></a>
                <a target="_blank" href="https://twitter.com/bodynbrainyoga"><img src="/img/frontend/icotwitter.gif" class="social-icons"></a>
                <a target="_blank" href="https://www.youtube.com/user/dahnyoga"><img src="/img/frontend/icoyoutube.gif" class="social-icons"></a>
                <a target="_blank" href="https://plus.google.com/+dahnyoga/posts"><img src="/img/frontend/icogoogle.gif" class="social-icons"></a>
              </div>
            </div>
      </div>
         </fieldset>
      <div class="flex-wrapper">
      <div class="successstorywrapper flex-wrapper-left">
        <div class="successstory">
          <h4>Success Stories</h4>
          <div class="about-flex flexslider">
            <ul class="slides">
        <?php   foreach($spotlights as $spotlight) { ?>
              <li>
                <!-- Image, Name and Designation -->
                <div class="flex-container">
                  <div class="flex-left">
                    <div class="circleimages" style="float:left;">
                      <a href="/successstories/view/<?php echo $spotlight->id; ?>">
                      <div  class="circle bg_centered"
                            style="background:url('<?php echo $this->config->application->amazonlink . '/uploads/testimonialimages/' . $spotlight->photo; ?>')">
                      </div>
                      </a>
                    </div>
                  </div>
                  <div class="flex-right spotlight_details">
                    <div class="padding_left_s">
                    <a href="/successstories/view/<?php echo $spotlight->id; ?>" class="dev_text">
                      <h6 class="h6-text"><?php echo$spotlight->metadesc; ?></h6>
                    </a>
                    <a href="/successstories/view/<?php echo $spotlight->id; ?>" class="read-more">Read More &#10148;</a>
                    <label class="lbl-stories-author"><?php echo $spotlight->author .", ". $spotlight->centertitle. ", " . $spotlight->centerstate; ?></label>
                    </div>
                  </div>
                </div>
              </li>
        <?php   } ?>
            </ul>
          </div>
          <br>
        </div>
      </div>

      <div class="giveawaywrapper flex-wrapper-right" style="float:left">
        <div class="giveaway">
          <h4>Change Film</h4>
          <a href="http://movie.changeyourenergy.com/change/" target="_blank" rel="nofollow">
            <img src="/img/frontend/change.jpg" style="width:100%;height:auto;" class="giveaway-img">
          </a>
        </div>
      </div>
    </div> <!-- END OF FLEXCONTAINER -->
  </div>

  <div class="row">
    <div class="col s12">
      <div class="stateandcontactlist">
        <div class="statelist">
          <h5 class="title">Locations<span> <label class="locations-label">*Franchises **Operated by affiliated company</label></span></h5>
<style>
  .fe_states_center {
    width:20%; float:left;
  }
</style>
      <!-- LOCATION -->
      <?php
      $x = 1;
      $y = 1;
      $limit = array(2, 6, 6, 3, 4); /*number of states per column*/
      $z = 0;
      $o = 1;
      foreach ($locations->data as $loc) {
         if(@$prev_state == $loc->state) { ?>
            <li class="link text_85">
               <a href="/<?php echo  $loc->center->centerslugs;?>">
                  <?php
                    echo  $loc->center->centertitle;
                    if($loc->center->centertype == 1) {
                      echo "";
                    }
                    else if($loc->center->centertype == 2) {
                      echo "*";
                    }
                    else if($loc->center->centertype == 3) {
                      echo "**";
                    }

                  ?>
               </a>
            </li>
   <?php } else {

            if($x > 1) { $x = 1; ?> </ul></div> <?php } /*this will close the ul and div if another state is available*/
            if($y > $limit[$z]){ $y = 1;
            $z++; ?> </div> <?php if($o == 3) { $o = 1;?> </div> <?php } }
            if($o == 1) {
            ?>
               <div class="col-3">
            <?php
            }
            if($y == 1){ $o++; ?> <div class="col-5"> <?php }
            $y++;
            if($z == 5){
               $z = 0;
            }
            ?>

               <div class="fe_states_center" style="width:100%;">
                  <ul>
                     <li class="category border-s">
                        <img src="/img/assets/location-top-bar.jpg">
                     <?php echo  $loc->state;?></li>
                     <li class="link text_85">
                       <a href="/<?php echo  $loc->center->centerslugs;?>">
                         <?php
                           echo  $loc->center->centertitle;
                           if($loc->center->centertype == 1) {
                            echo "";
                          }
                          else if($loc->center->centertype == 2) {
                            echo "*";
                          }
                          else if($loc->center->centertype == 3) {
                            echo "**";
                          }
                         ?>
                       </a>
                     </li>
    <?php
            $x++;
         }
        $prev_state = $loc->state;
      } ?>
      </ul></div></div> </div><!-- this will close the last ul and div of the last state -->
      <!-- LOCATION ENDS -->

         </div>

         <div class="contactlists">
           <!--  <a href="https://earthcitizens.org/nepalrelief" target="_blank">
               <img src="/img/frontend/nepal.jpg" class="responsive-img" width="100%">
            </a> -->
            <div class="contactlists-wrapper">
             <h5>Stay Connected</h4>
             <h6 class="border-s"><img src="/img/assets/location-top-bar.jpg"> Contact Us</h6>
             <p class="contact-tel">877-477-9642</p><br>
             <h6 class="border-s"><img src="/img/assets/location-top-bar.jpg"> Email Us at</h6>
             <div class="bnb-email">
               <a href="mailto:customerservice@bodynbrain.com">customerservice@bodynbrain.com</a> <br>
               Let us know how we can help you.
             </div>
             <br><br>

             <center>
             <a href="https://earthcitizens.org/#/whatiseco" target="_blank">
              <img src="/img/frontend/ecologo1.png" class="responsive-img" style="width:125px; height:70px;">
             </a>

             <br><br>

             <a href="http://www.bbb.org/phoenix/business-reviews/yoga-instruction/dahn-yoga-health-centers-inc-in-gilbert-az-27006777/#bbbonlineclick" target="_blank">
               <img src="/img/frontend/BBB.png" class="responsive-img">
             </a>
             </center>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <div class="footer">
        <div class="welcomefooter">
          <h6 class="footertitle">Welcome to Body & Brain!</h6>
          <p>We offer effective stress management solutions through yoga classes, tai chi classes, self-help workshops, </p>
          <p>yoga and meditation retreats based on simple, holistic practices. </p>
          <p> Try it for yourself and experience total body and mind relaxation!</p>
        </div>

        <div class="footerul">
          <div class="sitecenter">
            <ul class="site">
              <li>
                <p><a href="<?php echo $pagewhatis;?>">About </a></p>
                <a href="<?php echo $pagewhatis;?>/ilchi-lee" class="link">Founder Ilchi Lee</a>
                <a href="/personal-services" class="link">Personal Services</a>
              </li>
              <li>
                <p><a href="<?php echo $pageclasses;?>">Classes</a></p>
                <a href="<?php echo $pageclasses;?>/classes-overview" class="link">Yoga</a>
                <a href="<?php echo $pageclasses;?>/energy-martial-arts" class="link">Tai Chi / Qigong</a>
              </li>
              <li>
                <p><a href="/workshops">Workshops</a></p>
                <a href="<?php echo $pageworkshops;?>/initial-awakening" class="link">Initial Awakening™</a>
                <a href="<?php echo $pageworkshops;?>/finding-true-self" class="link">Finding True Self™</a>
              </li>
              <li class="success">
                <p><a href="<?php echo $articles; ?>">Community</a></p>
                <a href="<?php echo $articles; ?>" class="link">Yoga Tips</a>
                <a href="http://www.bodynbrainfoundation.org" target="_blank" class="link">Body &amp; Brain   Foundation</a>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12">

      <div class="mid">
        <div class="telwrapper">
          <div class="telcenter">
            <a href="tel:1-877-477-YOGA" class="tel">1-877-477-YOGA <span>(9AM-5PM MST, MON-FRI)</span></a>
          </div>
        </div>
        <div class="countrywrapper">
          <div class="countrycenter">
            <div class="country">
              <label for="select_country">Choose Your Country</label>
              <div class="select_wrap">
                <span class="value">Select</span>
                <select name="selecter" style="width:130px;" onchange="location=this.value">
                  <option value="#">Select</option>
                  <option value="http://bodyandbrain.ca">Canada</option>
                  <option value="http://www.hspholistic.de/">Germany</option>
                  <option value="http://www.dahnworld.co.jp/">Japan</option>
                  <option value="http://www.dahnworld.com/">Korea</option>
                  <option value="http://vkontakte.ru/club23685437">Russia</option>
                  <option value="http://www.dahnyoga.co.uk/">United Kingdom</option>
                  <option value="http://www.brainyoga.com/">Hong Kong</option>
                </select>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="bottom">
      <a href="<?php echo $page;?>/about-us">Our Company</a>
      <a href="<?php echo $page;?>/contact-us">Contact Us</a>
      <a href="<?php echo $page;?>/faq">FAQ</a>
      <a href="<?php echo $page;?>/terms-of-use">Terms of Use</a>
      <a href="<?php echo $page;?>/site-map">Site Map</a>
      <!-- <a href="/feed">RSS</a> -->
      <span class="copyright">© 2015 Body &amp; Brain Yoga · Tai Chi</span>
    </div>
  </div>
</div>

<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script> -->
<script type="text/javascript" src="/vendors/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/vendors/angular/angular.min.js"></script>
<script type="text/javascript" src="/fe/scripts/app.js"></script>
<script type="text/javascript" src="/fe/scripts/config.js"></script>
<script type="text/javascript" src="/fe/scripts/controllers/general.js"></script>

<script type="text/javascript" defer="defer" src="/fe/scripts/materialize/materialize.js"></script>
<script type="text/javascript" defer="defer" src="/fe/scripts/others/jquery.flexslider-min.js"></script>
<script type="text/javascript" defer="defer" src="/vendors/ng-file-upload/ng-file-upload.min.js"></script>
<script type="text/javascript" defer="defer" src="/vendors/angular-google-maps/dist/angular-google-maps.min.js"></script>
<script type="text/javascript" defer="defer" src="/vendors/lodash/lodash.min.js"></script>
<script type="text/javascript" defer="defer" src="/vendors/re-tree/re-tree.min.js"></script>
<script type="text/javascript" defer="defer" src="/vendors/ng-device-detector/ng-device-detector.min.js"></script>
<script type="text/javascript" src="/vendors/moment/moment.js"></script>
<script type="text/javascript" src="/vendors/angular-moment/angular-moment.min.js"></script>
<script type="text/javascript" src="/vendors/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="/be/js/angular/ngStorage.min.js"></script>

<script type="text/javascript" defer="defer" src="/fe/scripts/controllers/workshop.js"></script>
<script type="text/javascript" defer="defer" src="/be/js/scripts/services/anchorsmooth.js"></script>
<script type="text/javascript" defer="defer" src="/be/js/angular/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" defer="defer" src="/vendors/angular-hitcounter/src/angular-hitcounter.js"></script>
<script type="text/javascript" src="/vendors/a0-angular-storage/dist/angular-storage.min.js"></script>

<?php
echo $script_google->script;
?>


<script type="text/javascript">

  function myFunction() {
    window.print();
  }

  $( document ).ready(function() {
    $(".button-collapse").sideNav();
    $('.slider').slider({full_width: false});


    $('.about-flex').flexslider({
      direction: "vertical",
      controlNav: true,
      directionNav: false,
      pauseOnHover: true,
      slideshowSpeed: 8000
    });

  });
</script>

<?php echo $this->getContent()?>



</body>
</html>
