<div ng-controller="mapCtrl">
<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?><?php 
  $datestart = date_create($workshop->datestart);
  $dateend = date_create($workshop->dateend);
?>
<div id="crumbs_cont">
  <ul id="crumbs">
    <li class="crumbsli"><a class="crumbs" href="/">Home</a></li>
    <li class="crumbsli"><a class="crumbs" href="">Workshops</a></li>
    <li class="crumbsli"><a class="crumbs" >Change Intro Workshop</a></li>
    <li class="crumbsli"><a class="crumbs" >Workshop Details</a></li>
  </ul>
</div>

<div class="container-fluid padding_top_md" >
  <div class="row">
    <div class="col s12">
      <section id="special_page_sidecontent">
        <div id="special_page_sidebarmenu">
          <div id="sidebarmenu">
          <ul>
            <li><a href="/workshops/workshopschedules/initial-awakening/1"><label class="dot"> ▪</label> Initial Awakening</a></li>
            <li><a href="/workshops/workshopschedules/finding-true-self/1"><label class="dot"> ▪</label> Finding True Self</a></li>
            <li><a href="/workshops/workshopschedules/sedona-retreat/1"><label class="dot"> ▪</label> Sedona Retreat for Change</a></li>
            <li><a href="/workshops/workshopschedules/solar-body-natural-healing-course/1"><label class="dot"> ▪</label> Solar Body Natural Healing Course</a></li>
            <li><a href="/workshops/workshopschedules/dahnmudo/1"><label class="dot"> ▪</label> DahnMudo™</a></li>
            <li><a href="/workshops/workshopschedules/brain-management-training/1"><label class="dot"> ▪</label> Brain Management Training</a></li>
            <li><a href="/workshops/workshopschedules/dahn-master-course/1"><label class="dot"> ▪</label> Dahn Master Course</a></li>
            <li><a href="/workshops/workshopschedules/meditation-tours/1"><label class="dot"> ▪</label> Meditational Tours</a></li>
            <li><a href="/workshops/workshopschedules/all"><label class="dot"> ▪</label> Schedules</a></li>
            <li><a href=""><label class="dot"> ▪</label> Healthier Together</a></li>
          </ul> 
          </div>
        </div>

        <div id="newsletter">
          <div class="frmtitle">e-Newsletter</div>
          <form>
            <div ><input type="text" class="text" placeholder="E-mail Address"></div>
            <input type="button" class="send" />
          </form>
          <div class="clearboth"></div>
        </div>
      </section>

      <section id="middle_body">
        <h5 class="main_title">Our Center Info</h5>
        <span class="size_24 red_text bl"><?php echo $workshop->titlename; ?> Workshop</span>
        <span class="size_24 gray_text bl">
          <?php 
                if($workshop->centercity != '' || $workshop->centercity != null){
                  $wcity = $workshop->centercity;
                }
                else{
                  $wcity = $workshop->city;
                }
                if($workshop->centerstate != '' || $workshop->centerstate != null){
                  $wstate = $workshop->centerstate;
                }
                else{
                  $wstate = $workshop->SPR;
                }
                echo date_format($datestart, "F d") . ", " . $wcity . ", " . $wstate; 
           ?>
        </span>
        <br><br>
        <span class="size_24 bl" >Venue</span>
        <div class="col l12 border_light_gray padding_m">
          <div class="col l6">
            <?php 
            if($workshop->venuename != '' || $workshop->venuename != null){
              echo "<p class='map_title'>".$workshop->venuename ."</p>";
            }
            else{
              echo "<p class='map_title'>".$workshop->centertitle ." Center</p> ";
            }
            ?>


            <?php
            if($workshop->address1 != '' || $workshop->address1 != null){
              echo $workshop->address1;
            }
            else{
              echo $workshop->centeraddress;
            }
             

              ?> <br>

            <?php
             if($workshop->centerstate != '' || $workshop->centerstate != null){
               echo $workshop->centerstate .", ". $workshop->centerzip; 
            }
            else{
              echo $workshop->SPR .", ". $workshop->zipcode; 
            }
            

             ?> <br>
            <?php
            if($workshop->centertelnumber != '' || $workshop->centertelnumber != null){
               echo "Phone: ". $workshop->phonenumber; 
            }
            else{
              echo "Phone: ". $workshop->contact; 
            }
             

             ?> <br>
            <?php
            if($workshop->website != '' || $workshop->website != null){
              echo '<a href="'.$workshop->website.'">'.$workshop->website.'</a>'; 
            }
            else{
             echo '<a href="/'.$workshop->centerslugs.'">https://bodynbrain.com/'.$workshop->centerslugs . '</a>'; 
            }
             

             ?>
          </div>
          <div class="col l6">
            <div id="map_canvas" style="width:100%; height:200px;">
              <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
              <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
              </ui-gmap-marker>
            </ui-gmap-google-map>
            </div>
            <center><a href="" data-target="modal-m" id="modal-map" ng-click="openworkshopmap()">enlarge map</a></center>
          </div>
        </div>

        <span class="size_24 bl">&nbsp;<br>About theWorkshop</span>
        <div class="col l12 border_light_gray gray_text padding_m">
          <?php echo $workshop->about; ?>
        </div>

        <span class="size_24 bl">&nbsp;<br>Schedule</span>
        <div class="col l12 border_light_gray padding_m">
          <span class="border_light_gray red_text padding_s_px"> 
            <?php echo $workshop->starthour .":".$workshop->startminute." ".$workshop->starttimeformat; ?>
            <?php echo date_format($datestart, "l F jS"); ?>
            -
             <?php echo $workshop->endhour .":".$workshop->endminute." ".$workshop->endtimeformat; ?>
            <?php echo date_format($dateend, "l F jS"); ?>
          </span>
        </div>
      </section>

      <div class="clearboth"></div>
      <aside id="sidebar_right">
        <div class="bg_red2 padding_m text_center">
         <h5 class="size_18"><?php echo $workshop->titlename;?></h5>
         <hr class="hr_thin">
         Signup now!
        </div>
      </aside>

    </div> <!-- end of col s12 -->
  </div> <!-- end of row -->
</div> <!-- end of container -->
<!-- ========================= MODALS HERE ========================= -->

<!-- ========================= MAP ================================= -->
<div id="modal-m" class="modal overflow_hidden" >
    <div class="modal-content no-margin">
      <div class="row no-margin">
        <div class="col s12 m8 no-padding">
          <div id="map_canvas">
            <ui-gmap-google-map center="map2.center2" zoom="map2.zoom2" draggable="true" options="options2">
            <ui-gmap-marker coords="marker2.coords2" options="marker2.options2" events="marker2.events2" idkey="marker2.id2">
            </ui-gmap-marker>
            </ui-gmap-google-map>
          </div>
        </div>
        <div class="col s12 m4 padding_s">
        <img href="#!" src="/img/frontend/popup_close.png" class="float_right modal-close waves-effect cursor_pointer">
        <span class="font_24_px bl gray_text">CENTER </span> 
        <span class="size_24 font_bolder teal_text"><?php echo $workshop->centercity; ?></span>
        <br><br>
        <span class="size_18 bl">ADDRESS</span>
        <span class="bl gray_text"><?php echo $workshop->address1; ?></span>
        <br>
        <span class="size_18 bl">PHONE</span>
        <span class="bl gray_text"><?php echo $workshop->centertelnumber; ?></span>
        </div>
      </div>
    </div>
</div>
<?php echo $this->getContent()?>
</div>