<style type="text/css">
    #profile_pic {
      display:none;
  }
  .label_profile_pic {
      width:100px; height:35px;
      background:rgba(0, 0, 0, .6);
      color:white;
      font-weight:500;
      font-size:16px;
      text-align:center;
      position:Relative; top:-35px;
      clear:both;
      padding:5px 0 0 0;
      display:table-cell;
      cursor:pointer;
  }
  #blah:hover ~ .label_profile_pic, .label_profile_pic:hover {
      visibility:visible;
  }
</style>
<form class="bs-example form-horizontal" name="form" ng-submit="ok(link)">
   
    <div class="panel panel-default">
        <div class="panel-heading">
            Add Social Link
        </div>

        <div class="wrapper">
            <div class="row">
                
                <div class="col-sm-12">
                    Title    
                    <input type="text" id="title" name="title" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="link.title" required="required">
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>

                
                <div class="col-sm-12">
                    Link Url      
                   <input type="text" id="title" name="title" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="link.linkurl" required="required">
                </div>

                <div class="line line-dashed b-b line-lg pull-in"></div>
                <div class="col-sm-12">
                    Social Icon
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input id="profile_pic" ng-model="files" type="file" data-icon="false" class="form-control" accept="image/*" ngf-select ngf-allow-dir="true" onchange="readURL(this);">
                            <img width="100" height="100" id="blah" src="/img/default_profile_pic.jpg" alt="your image" />
                            <label for="profile_pic" class="label_profile_pic">Change Icon</label>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="table-responsive">
            <footer class="panel-footer">
                <div class="pull-right">
                    <a class="btn btn-default" ng-click="cancel()">Cancel</a>
                    <button class="btn btn-primary">Save</button>
                </div>
                <div style="clear:both;"></div>
            </footer>
        </div>
    </div>
    
</form>
<script type="text/javascript">
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                .attr('src', e.target.result)
                .width(100)
                .height(100);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>
