<form class="bs-example form-horizontal" name="form" ng-submit="ok(category)">
   
    <div class="panel panel-default">
        <div class="panel-heading">
            Add Category
        </div>

        <div class="row wrapper">
                <div class="col-sm-10"> 
                <span class="label bg-danger" ng-show="notification">Ooopss! Category Already Exist <br/></span>          
                   <input type="text" id="title" name="title" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="category.catnames" required="required" ng-change="onnewscat(category.catnames)">
                </div>
        </div>
        <div class="table-responsive">
            <footer class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success" ng-disabled="form.$invalid || form.$pending || notification==true">Save</button>
            </footer>
        </div>
    </div>
    
</form>