<div class="panel panel-default">

	<div class="panel-heading"><i class="icon-info"></i>  Paypal ID</div>
	<div class="panel-body">
	
		<p>Email address of your paypal is your Paypal ID</p>

	</div>

	<footer class="panel-footer">
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Close</a>
		</div>
		<div style="clear:both;"></div>
	</footer>

</div>




