<form class="bs-example form-horizontal" name="form" ng-submit="ok(region)">
   
    <div class="panel panel-default">
        <div class="panel-heading">
            Add Region
        </div>

        <div class="row wrapper">
                <div class="col-sm-12">         
                   <input type="text" id="title" name="title" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" ng-model="region.regionname" required="required" >
                </div>
        </div>
        <div class="table-responsive">
            <footer class="panel-footer">
                <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
                <button type="submit" class="btn btn-success">Save</button>
            </footer>
        </div>
    </div>
    
</form>