<form class="bs-example form-horizontal" name="form" novalidate>
	<div class="panel panel-default">

		<div class="panel-heading"><i class="icon-info"></i> Notification</div>
		<div class="panel-body">
			<p>{[{message}]}</p>               
		</div>
		<footer class="panel-footer">
			<!-- chat form -->
			<div class="pull-right">
				<a class="btn btn-default" ng-click="cancel()">Close</a>
			</div>
			<div style="clear:both;"></div>
		</footer>
	</div>
</form>




