<div class="panel panel-danger">

	<div class="panel-heading"><i class="icon-info"></i> Notification</div>
	<div class="panel-body">
		<h3>Are you sure you want to remove this Workshop Title?</h3>     
		<div class="pull-right">
			<a class="btn btn-default" ng-click="cancel()">Cancel</a>
			<a class="btn btn-primary" ng-click="ok(workshoptitleid)">Remove</a>
		</div>         
	</div>
</div>




