<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?>
<div class="container-fluid padding_top_md" ng-controller="successCtrl">
  <div class="row" id="center-row">
    <div class="col s12">
      <section id="special_page_sidecontent" class="center_sidecontent">
        <div id="special_page_sidebarmenu" class="center_sidebarmenu">
          <div class="sidebar-head">
            <a href="/<?php echo $center->centerslugs; ?>" class="white_text">
              <?php echo $center->centertitle; ?>
            </a>
          </div>
          <ul class="sidebarmenu-list">
            <li>
              <a href="/<?php echo $center->centerslugs; ?>/info">
              <label class="dot"> &#x25AA; </label>Center Info</a>
            </li>
            <li><a href="/<?php echo $center->centerslugs; ?>/blog/1"><label class="dot"> &#x25AA; </label>News</a></li>
            <li><a href="/<?php echo $center->centerslugs; ?>/class-schedule"><label class="dot"> &#x25AA; </label>Class Schedule</a></li>
            <li>
              <a href="/<?php echo $center->centerslugs; ?>/success-stories/1">
                <label class="dot"> &#x25AA; </label>
                <span class="bluish_text center_active">Success Stories</span>
              </a>
            </li>
            <li><a href="/<?php echo $center->centerslugs; ?>/calendar/1"><label class="dot"> &#x25AA; </label>Calendar</a></li>
            <li><a href="/<?php echo $center->centerslugs; ?>/pricing"><label class="dot"> &#x25AA; </label>Pricing</a></li>
          </ul>
        </div>

        <a href="/successstories/write" class="a_share_your_experience">
          <img src="/img/frontend/share.gif"> <br>
          Share <br> Your Experience
        </a>

        <div id="newsletter">
          <div class="frmtitle">e-Newsletter</div>
          <form>
            <div ><input type="text" class="text" placeholder="E-mail Address"></div>
            <input type="button" class="send" value="" />
          </form>
          <div class="clearboth"></div>
        </div>
      </section>

      <section id="middle_body">
        <h5 class="main_title">Our Success Stories</h5>
        
        <div class="latest_wrap">
          <ul class="latest_list">
           <?php 
          $getginfo = $storydata;
          if(count($getginfo) == 0)
          {
            echo '<span class="warning_message">No Available Story</span>';
          }
          else
          {
            foreach ($getginfo as $key => $value) {
            $story_slugs = preg_replace("![^a-z0-9]+!i", "-", strtolower($getginfo[$key]->subject)); 
          ?>
            <li>
              <a href="/<?php echo $getcenterslugs; ?>/story/<?php echo $getginfo[$key]->ssid;  ?>/<?php echo $story_slugs;  ?>">
              <p class="latest_title"><?php echo $getginfo[$key]->subject;  ?></p>
              <p class="latest_stitle"><?php echo  $getginfo[$key]->author;  ?></p>
              <div class="latest_text flexy">
                  
                  <div class="thumbnail_md" style="background:url(<?php

                                     $varheaders = get_headers($this->config->application->amazonlink . '/uploads/testimonialimages/'. $getginfo[$key]->photo);
                                     if($varheaders[0] == 'HTTP/1.1 200 OK'){
                                      echo $this->config->application->amazonlink . '/uploads/testimonialimages/'. $getginfo[$key]->photo;
                                    }
                                    else{
                                      echo '/img/blue-rose.jpg';
                                    }

                                    ?>);">
                  </div>
                  
                  <div class="padding_sides_1 auto_text">
                    <?php echo $getginfo[$key]->metadesc; ?>
                    <span class="bl bluish_text">Read full story &#x0203A;</span>
                  </div>
              </div>
              </a>
            </li>
            <hr class="hr_thin margin_vert_sm">
            <?php } ?>
          </ul>
        </div>

         <?php
                  // PAGINATION START
                  echo '<div class="myPagination">';
                  echo '<span first_page_line></span><a href="/'.$getcenterslugs.'/succes-sstories/1" class="first_page"></a>&nbsp';
                  $pageLastNumberKey = $totalpage - 4;
                  if($page >= $pageLastNumberKey) {
              if($page > 1)
                echo '<a href="/'.$getcenterslugs.'/success-stories/'.($page - 1).'" class="back_pagination"></a>&nbsp';
                for($i=max(1, $pageLastNumberKey); $i<=max(1, min($totalpage,$page+4)); $i++) 
              {
               if($i == $page)
                echo '<span class="active_page pagination_pages">'.$i.'</span>';
               else
                echo '<a href="/'.$getcenterslugs.'/success-stories/'.$i.'" class="other_pages pagination_pages">'.$i.'</a>&nbsp';
              }
            }
            else {  
              if($page > 1) 
                echo '<a href="/'.$getcenterslugs.'/success-stories/'.($page - 1).'" class="back_pagination"></a>&nbsp';
                for($i=max(1, $page); $i<=max(1, min($totalpage,$page+4)); $i++)
              {
               if($i == $page)
                echo '<span class="active_page pagination_pages">'.$i.'</span>';
               else
                echo '<a href="/'.$getcenterslugs.'/success-stories/'.$i.'" class="other_pages pagination_pages">'.$i.'</a>&nbsp';
              }
            }
            if ($page < $totalpage)
              echo '<a href="/'.$getcenterslugs.'/success-stories/'.($page + 1).'" class="next_pagination"></a>&nbsp;';
              echo '<a href="/'.$getcenterslugs.'/success-stories/'.$totalpage.'" class="last_page"></a><span last_page_line></span>';
              echo"</div>";
            // PAGINATION ENDS
          } ?> 
      </section>

      <div class="clearboth"></div>
      <aside id="sidebar_right_center">
        <div id="sidebar_half_center">
          <a href="/getstarted/starterspackage"><img src="/img/frontend/banner_getstarted_small.jpg" class="full_width" /></a>
          <div class="bg_yellowish padding_m">
            <span class="size_18 sidebar_title">Success Stories</span>
          <?php foreach($success_stories as $success) { 
                $story_slugs = preg_replace("![^a-z0-9]+!i", "-", strtolower($success->subject)); 
          ?>
                  <a href="/<?php echo $center->centerslugs .'/story/'.$success->ssid.'/'. $story_slugs; ?>">
                  <div class="bg_centered" style="background:url(<?php echo $this->config->application->amazonlink . '/uploads/testimonialimages/' . $success->photo; ?>); height:100px"></div>
                  <span class="teal_text bl padding_top_S"><?php echo $success->subject; ?></span>
                  <label class="margin_bottom_s bl">
                    <?php echo $success->author .', '.$center->centertitle . ' center, ' . $center->centerstate; ?>
                  </label>
                  <div class="word_break text_85 auto_text"><?php echo $success->metadesc; ?></div>
                  <br>
                  </a>
          <?php } ?>
          </div>
        </div>
          <div class="popularpost_center">
            <div class="frmtitle marg_lft pop_feat" >Popular Features</div>
          <?php foreach($popular_features as $data) { ?>
              <div class="post">
                <a href="<?php echo $articles; ?>/view/<?php echo $data->newsslugs;?>">
                <img class="post_pic img_thumbnail" src="<?php echo $this->config->application->amazonlink.'/uploads/newsimage/'.$data->banner; ?>" />
              </a>
              <div class="small-text">
                <a href="<?php echo $articles; ?>/view/<?php echo $data->newsslugs;?>">
                  <?php  echo substr($data->description, 0, 50) . ".."; ?>
                </a>
              </div>
              <div class="clearboth"></div>
              </div>
          <?php } ?>
            <div class="clearboth"> </div>
          </div>
      </aside>
    </div> <!-- end of col s12 -->
  </div> <!-- end of row -->
</div> <!-- end of container -->

