<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?>
<?php if($center != null) { ?>
<div class="container-fluid padding_top_md" ng-controller="successCtrl">
  <div class="row" id="center-row">
    <div class="col s12">
      <section id="special_page_sidecontent">
        <div id="special_page_sidebarmenu">
          <div class="sidebar-head">
            <a href="/<?php echo $center->centerslugs; ?>" class="white_text">
              <?php echo $center->centertitle; ?>
            </a>
          </div>
          <ul class="sidebarmenu-list">
            <li>
              <a href="/<?php echo $center->centerslugs; ?>/info">
              <label class="dot"> &#x25AA; </label>Center Info</a>
            </li>
            <li><a href="/<?php echo $center->centerslugs; ?>/blog/1"><label class="dot"> &#x25AA; </label>News</a></li>
            <li><a href="/<?php echo $center->centerslugs; ?>/class-schedule"><label class="dot"> &#x25AA; </label>Class Schedule</a></li>
            <li>
              <a href="/<?php echo $center->centerslugs; ?>/success-stories/1">
                <label class="dot"> &#x25AA; </label>
                <span class="bluish_text center_active">Success Stories</span>
              </a>
            </li>
            <li><a href="/<?php echo $center->centerslugs; ?>/calendar/1"><label class="dot"> &#x25AA; </label>Calendar</a></li>
            <li><a href="/<?php echo $center->centerslugs; ?>/pricing"><label class="dot"> &#x25AA; </label>Pricing</a></li>
          </ul>
        </div>

        <a href="/successstories/write" class="a_share_your_experience">
          <img src="/img/frontend/share.gif"> <br>
          Share <br> Your Experience
        </a>

        <div id="newsletter">
          <div class="frmtitle">e-Newsletter</div>
          <form>
            <div ><input type="text" class="text" placeholder="E-mail Address"></div>
            <input type="button" class="send" />
          </form>
          <div class="clearboth"></div>
        </div>
      </section>

      <?php if($story != null) { ?>
      <section id="stories_slider_wrapper">
        <h5><?php echo $story[0]->subject; ?></h5>
        <label class="bluish_text text_underline margin_top-s"><?php echo $story[0]->author .', '.$center->centertitle . ' center, ' . $center->centerstate; ?></label>
      </section>
      <?php } ?>

      <section id="middle_body">
        <div class="bl">
        <?php 
              if($story != null) { ?>
                  <img src="<?php echo $this->config->application->amazonlink . '/uploads/testimonialimages/'.$story[0]->photo; ?>" class="margin_right_5px float_left" 
                        style="display:inline-block; width:200px; height:240px;"align="left" err-SRC="/img/blue-rose.jpg">&nbsp;
        <?php   
                echo $story[0]->details; 
                
              } else {
                echo "<br><br><center><span class='warning_message'>WARNING! Content not found!</span></center><br><br>"; 
              }

        ?>
        </div>
        <?php if($relatedstory != null) { ?>
        <div class="bl clear">
          <br>
          <hr class="hr_thin margin_vert_sm">
          <span class="red_text size_20">Stories with similar experiences:</span>
          <ul>
            <?php foreach($relatedstory as $story) { 
                    $story_slugs = preg_replace("![^a-z0-9]+!i", "-", strtolower($story->subject));
                    $story_ssid = $story->ssid;
            ?>
                    <li>
                      <a href="/<?php echo $center->centerslugs.'/story/'.$story_ssid.'/'.$story_slugs; ?>" class="bluish_text font_90">
                        <label class="dot"> &#x25AA; </label> 
                        <span class="text_underline"><?php echo $story->subject; ?></span>
                      </a>
                    </li>
            <?php } ?>
          </ul>
        </div>
        <?php } ?>
      </section>

      <div class="clearboth"></div>
      <aside id="sidebar_right_center">
        <div id="sidebar_half_center">
          <a href="/getstarted/starterspackage"><img src="/img/frontend/banner_getstarted_small.jpg" class="full_width" /></a>
          <div class="bg_yellowish padding_m">
            <span class="size_18 sidebar_title">Success Stories</span>
          <?php foreach($success_stories as $success) { 
                $story_slugs = preg_replace("![^a-z0-9]+!i", "-", strtolower($success->subject)); 
          ?>
                  <a href="/<?php echo $center->centerslugs .'/story/'. $success->ssid.'/'. $story_slugs; ?>">
                  <!-- <div class="bg_centered" style="background:url(<?php echo $this->config->application->amazonlink . '/uploads/testimonialimages/' . $success->photo; ?>); height:100px"></div> -->

                  <?php if($success->photo == true) { ?>
                    <img src="<?php echo $this->config->application->amazonlink . '/uploads/testimonialimages/'.$success->photo; ?>" 
                    style="height:100px; width:100%;"
                    err-SRC="/img/blue-rose.jpg"/>
                  <?php } else { ?>
                    <img src="/img/blue-rose.jpg" style="height:100px; width:100%;">
                  <?php } ?>

                  <span class="teal_text bl padding_top_S"><?php echo $success->subject; ?></span>
                  <label class="margin_bottom_s bl">
                    <?php echo $success->author .', '.$center->centertitle . ' center, ' . $center->centerstate; ?>
                  </label>
                  <div class="word_break text_85 auto_text"><?php echo $success->metadesc; ?></div>
                  <br>
                  </a>
          <?php } ?>
          </div>
        </div>
          <div class="popularpost_center">
            <div class="frmtitle marg_lft pop_feat" >Popular Features</div>
          <?php foreach($popular_features as $data) { ?>
              <div class="post">
                <a href="<?php echo $articles; ?>/view/<?php echo $data->newsslugs;?>">
                <img class="post_pic img_thumbnail" src="<?php echo $this->config->application->amazonlink.'/uploads/newsimage/'.$data->banner; ?>" />
              </a>
              <div class="small-text">
                <a href="<?php echo $articles; ?>/view/<?php echo $data->newsslugs;?>">
                  <?php  echo substr($data->description, 0, 50) . ".."; ?>
                </a>
              </div>
              <div class="clearboth"></div>
              </div>
          <?php } ?>
            <div class="clearboth"> </div>
          </div>
      </aside>

    </div> <!-- end of col s12 -->
  </div> <!-- end of row -->
</div> <!-- end of container -->
<?php } else { 
  echo "<br><br><center><span class='warning_message'>Error 404: Page not found!</span></center><br><br>"; 
} ?>