<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?><div class="navi" style="margin: 0px 0px 30px; padding: 2px 0px 0px; border-width: 0px 0px 1px; border-bottom-style: solid; border-bottom-color: rgb(230, 230, 230); font-family: 'Droid Sans', sans-serif, Arial; font-size: 12px; font-stretch: inherit; line-height: 30px; vertical-align: baseline; height: 30px; color: rgb(227, 24, 54);">
    <a href="/" style="margin: 0px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-decoration: none; color: rgb(227, 24, 54);">
      Home
    </a>

    <span class="current" style="margin: 0px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; color: rgb(102, 102, 102);">
      e-Newsletter
    </span>
</div>

<div class="container-fluid padding_top_sm enewsletter-container" ng-controller="Newsletterctrl">
  <div class="row">
    <div class="col s12">
      <section id="special_page_sidecontent">
        <div id="sidebarmenu">
           <ul>
            <li id="liContact"><a href="/contactus"><label class="dot">&#x25AA; </label>Contact Us</a></li>
            <li id="liTerms"><a href="/terms-of-use"><label class="dot">&#x25AA; </label>Terms of Use</a></li>
            <li id="liPrivacy"><a href="/privacy-policy"><label class="dot">&#x25AA; </label>Privacy Policy</a></li>
            <li id="liSiteMap"><a href="/site-map"><label class="dot">&#x25AA; </label>Site Map</a></li>
            <li id="liletter" class="active"><a href="#"><label class="dot">&#x25AA; </label>e-Newsletter Archive</a></li>
            <li id="liPDF"><a href="/newsletter/pdfnewsletter"><label class="dot">&#x25AA; </label>Newsletter PDF Archive</a></li>
          </ul>
        </div>

        <div id="newsletter">
          <div class="frmtitle">e-Newsletter</div>
          <form action="//bodynbrain.us3.list-manage.com/subscribe/post?u=cfc22757143336e0cfcf90eef&amp;id=eef0458b00" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="required email text" id="mce-EMAIL" placeholder="E-mail Address">
            <input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="send">
          </form>
          <div class="clearboth"></div>
        </div>
      </section>

      <section id="middle_body">
        <h5 class="main_title e-newsletter">Subscribe to Our e-Newsletter</h5>
        <div class="signup_wrap">
          <p>Sign Up for our e-Newsletter</p>
          <div class="signup">
            <input name="txtEmail" type="text" id="txtEmail" class="input_signup placeholder" placeholder="E-mail address">
            <input type="submit" name="button1" value="Submit" id="button1" class="btn_signup">
            <input type="hidden" name="wtEmail_ClientState" id="wtEmail_ClientState">
          </div>
        </div>
        <div style="width:100%">
          <ul class="letter_list">
                    
                        <li ng-repeat="data in data">
                            <a href="/newsletter/enewslettershow/{[{ data.id }]}">
                                <img alt="" src="<?php echo $this->config->application->amazonlink.'/uploads/newsletter/{[{ data.banner }]}' ?>" width="135" height="90" class="img">
                                <span class="title">{[{ data.title }]}</span>
                                <span class="date">{[{ data.date | dateSuffix }]},{[{ data.date | date : 'yyyy' }]}</span>
                            </a>
                        </li>
          </ul>
          <br><br>
         <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm m-t-sm m-b" boundary-links="true" ng-click="setPage(bigCurrentPage)"></pagination>
        </div>

        
      </section>

      <div class="clearboth"></div>

      <aside id="sidebar-right">
        <div class="col-4">
          <a href="/getstarted/starterspackage"><img src="/img/frontend/banner_getstarted_small.jpg" class="full_width" /></a>
          <div class="bg_yellowish padding_m">
            <span class="size_18">Success Stories</span>

                  <a href="" ng-repeat="data in dataz | limitTo:2">
                  <div class="bg_centered" 
                  style="background:url(<?php echo $this->config->application->amazonlink . '/uploads/testimonialimages/{[{ data.photo }]}' ?>); height:100px"></div>
                  <span class="teal_text bl padding_top_S">{[{ data.subject }]}</span>
                  <label class="margin_bottom_s bl">
                    {[{ data.author }]}
                  </label>
                  <div class="word_break text_85 auto_text">{[{ data.details | limitTo: 150 }]}{[{ data.details.length > 150 ? '...' : '' }]}</div>
                  <br>
                  </a>

          </div>
        </div>
        <div class="col-4">
          <div class="popularpost">
            <div class="frmtitle marg_lft pop_feat" >Popular Features</div>
              <div class="post" ng-repeat="data in printmainnews">
                <a href="#">
              <img class="post_pic img_thumbnail" src="<?php echo $this->config->application->amazonlink . '/uploads/newsimage/{[{ data.banner }]}' ?>">
              </a>
              <div class="small-text">
                <a href="#">
                  {[{ data.description | limitTo: 50 }]}{[{ data.description.length > 50 ? '..' : '' }]}
                </a>
              </div>
              <div class="clearboth"></div>
              </div>
            <div class="clearboth"> </div>
          </div>
        </div>
      </aside>

    </div> <!-- end of col s12 -->
  </div> <!-- end of row -->
</div> <!-- end of container -->

