<?php
if($logoimage->value1 == 1){
  header('Location: /../../maintenance/');
}
?><div class="navi" style="margin: 0px 0px 30px; padding: 2px 0px 0px; border-width: 0px 0px 1px; border-bottom-style: solid; border-bottom-color: rgb(230, 230, 230); font-family: 'Droid Sans', sans-serif, Arial; font-size: 12px; font-stretch: inherit; line-height: 30px; vertical-align: baseline; height: 30px; color: rgb(227, 24, 54);">
    <a href="/" style="margin: 0px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; text-decoration: none; color: rgb(227, 24, 54);">
      Home
    </a>

    <span class="current" style="margin: 0px; padding: 0px; border: 0px; font-family: inherit; font-size: inherit; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; line-height: inherit; vertical-align: baseline; color: rgb(102, 102, 102);">
      e-Newsletter
    </span>
</div>

<div class="container-fluid padding_top_md" ng-controller="Pdfnewsletterctrl">
  <div class="row">
    <div class="col s12">
      <section id="special_page_sidecontent">
        <div id="sidebarmenu">
           <ul>
            <li id="liContact"><a href="/contactus"><label class="dot">&#x25AA; </label>Contact Us</a></li>
            <li id="liTerms"><a href="/page/view/terms-of-use"><label class="dot">&#x25AA; </label>Terms of Use</a></li>
            <li id="liPrivacy"><a href="/page/view/privacy-policy"><label class="dot">&#x25AA; </label>Privacy Policy</a></li>
            <li id="liSiteMap"><a href="/page/view/site-map"><label class="dot">&#x25AA; </label>Site Map</a></li>
            <li id="liletter"><a href="/newsletter/enewsletter"><label class="dot">&#x25AA; </label>e-Newsletter Archive</a></li>
            <li id="liPDF" class="active"><a href="#"><label class="dot">&#x25AA; </label>Newsletter PDF Archive</a></li>
          </ul>
        </div>

        <div id="newsletter">
          <div class="frmtitle">e-Newsletter</div>
          <form action="//bodynbrain.us3.list-manage.com/subscribe/post?u=cfc22757143336e0cfcf90eef&amp;id=eef0458b00" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="required email text" id="mce-EMAIL" placeholder="E-mail Address">
            <input type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="send">
          </form>
          <div class="clearboth"></div>
        </div>
      </section>

      <section id="right_body">
        <h5 class="main_title">Monthly Newsletter PDF Archive</h5>
        <p class="main_stitle">
          Body &amp; Brain yoga publishes a monthly, 8-page newsletter that includes information about programs and practice,<br>
          news about practitioners, and healthy tips. Here, find an electronic archive of current and past issues of<br>
          Body &amp; Brain yoga Life in a downloadable PDF format and discover more about how to get more energy and live a better life.
        </p>
        <div class="pdf_wrap">
          <ul class="pdf_list">
                        <li ng-repeat="data in data">
                            <a href="<?php echo $this->config->application->amazonlink .'/uploads/pdfnewsletter/{[{ data.pdf }]}' ?>" target='_blank'>
                                <img alt="" src="<?php echo $this->config->application->amazonlink.'/uploads/newsletter/{[{ data.banner }]}' ?>" width="178" height="229">
                                <span class="date">{[{ data.date | date:'MMMM' }]},{[{ data.date | date : 'yyyy' }]}</span>
                            </a>
                        </li>
          </ul>
           <br><br>
         <pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm m-t-sm m-b" boundary-links="true" ng-click="setPage(bigCurrentPage)"></pagination>
        </div>

        
      </section>

      <div class="clearboth"></div>
    </div> <!-- end of col s12 -->
  </div> <!-- end of row -->
</div> <!-- end of container -->

