.closebutton{ /* to make a nice looking pure CSS3 close button */
    display:block;
    position:absolute;
    top:-5px;
    right:10px;
    background:red;
    color:white;
    height:20px;
    width:20px;
    line-height:20px;
    font-size:20px;
    text-decoration:none;
    text-align:center;
    font-weight:bold;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -o-border-radius:20px;
    border-radius:20px;
}

/* ========================================== BACK END =========================================================*/
.no_margin { padding:0; margin:0; }
.margin_left_10px { margin-left:10px; }
.margin_left_20px { margin-left:20px; }
.mr_tp-5px {margin-top:-5px !important;}
.mr_tp-10px {margin-top:-10px !important;}
.margin_right_5px { margin-right:5px; }
.padding_left_10px { padding-left:10px !important;  }
.padding_left_20px { padding-left:20px !important; }
.padding_left_25px { padding-left:25px !important; }
.padding_left_27px { padding-left:27px !important; }

.align_left { text-align:left;}

.inputBox { padding: 4px; border: 1px solid #cad5e0; }

.auto_text { color:#111;}

.resize_vert { resize: vertical; }

.width_100 { width:100px;}
.width_150 { width:150px;}

.cursor_pointer { cursor:pointer;}
/* =================================== ;UNIVERSAL =================================== */ 
.check_align {
  position:relative;
  top:-8px;
}
.check_align_checkbox { left:8px; }

.md {
  position:relative; top: 2px;
  display:table-cell;
  height:22px !important;
  font-size:90%;
  vertical-align:middle;
  background:red;
}

/*USER MANAGEMENT CSS*/
.popOver {
  padding:5px;
  border-radius:10px;
  box-shadow:0 1px 5px red;
  background:tomato;
  max-width:225px;
  position:absolute; margin-top:10px;
  font-size:90%;
  color:white;
/*  height:45px;*/
  z-index:10;
}
  .pop-triangle {
    display:block;
    height:0; width:0;
    border-top:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid tomato;
    border-left:10px solid transparent;
    margin:0 auto;
    position:relative; top:-42px; left:-50px;
  }

#profile_pic {
  display:none;
}
.label_profile_pic {
  width:200px; height:35px;
  background:rgba(0, 0, 0, .6);
  color:white;
  font-weight:500;
  font-size:16px;
  text-align:center;
  position:Relative; top:-35px;
  clear:both;
  padding:5px 0 0 0;
  display:table-cell;
  visibility:hidden;
  cursor:pointer;
}
#blah:hover ~ .label_profile_pic, .label_profile_pic:hover {
  visibility:visible;
}
#blah {
    width:200px; height:200px;
}

/*create user*/
.cropArea {
  background: #FFFFFF;
  overflow: hidden;
  width:500px;
  height:350px;
}

.back_chrono {
  position:fixed;
  left:0; top:0;
  background:rgba(0,0,0,.6);
  width:100%; height:100%;
  padding:25% 0 0 0 ;
  z-index:9999999999999999999999;
}
